/**
* 2. Home Page
*/
html {
    body.home {
        #wrapper {
            overflow: hidden;
            main {
                text-align: center;
                min-height: 100vh;
            }
        }
        .scroll {
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0;
            animation-name: scroll-outer;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            svg {
                width: 45px;
                position: relative;
                transform: translateX(-50%);
                #mouse {
                    opacity: 1;
                    animation-name: scroll-opac;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                }
                #wheel {
                    transform: translateY(0px);
                    animation-name: scroll-wheel;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in-out;
                }
            }
        }

        /* Home post */
        #home-post-outer {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            max-width: 700px;
            margin: 0 auto;
            div {
                max-width: 700px;
                margin: 0 auto;
            }
        }
        #home-back-imgs {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            overflow: hidden;
            .image-outer {
                height: 100%;
                width: 100%;
                display: none;
                img {
                    min-height: 100%;
                    min-width: 100%;
                    filter: saturate(70%) blur(3px) opacity(15%);
                    top: 50%;
                    position: relative;
                    transform: translate(-50% , -50%);
                    left: 50%;
                }
            }
        }
        .back-imgs {
            #back-imgs-overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,0.9+70,1+100 */
                background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.9) 70%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
                background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.9) 70%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.9) 70%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            }
        }




        /* Ink post */
        .post-outer {
            width: 100%;
            height: 100%;
            .post-excerpt {
                height: 100%;
                .color-back {
                    background-position: center;
                    background-size: 60%;
                }
                #active-post {
                    display: block;
                    background: rgba(255,255,255,0.05);
                    height: 100%;
                    text-align: center;
                    #img-outer {
                        top: 50%;
                        position: relative;
                        transform: translate(-50% , -50%);
                        height: 80%;
                        max-width: 700px;
                        left: 50%;
                        background: rgba(255,255,255,0.1);
                        background: -moz-linear-gradient(-45deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 9%, rgba(255,255,255,0.15) 45%, rgba(255,255,255,0.1) 52%, rgba(255,255,255,0.05) 56%, rgba(255,255,255,0.05) 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.05) 9%,rgba(255,255,255,0.15) 45%,rgba(255,255,255,0.1) 52%,rgba(255,255,255,0.05) 56%,rgba(255,255,255,0.05) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(135deg, rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.05) 9%,rgba(255,255,255,0.15) 45%,rgba(255,255,255,0.1) 52%,rgba(255,255,255,0.05) 56%,rgba(255,255,255,0.05) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dffffff', endColorstr='#0dffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                        border-radius: 30px;
                        border-right: 2px solid #333;
                        border-bottom: 2px solid #333;
                        svg {
                            left: 50%;
                            position: relative;
                            transform: translate(-50% , -50%);
                            top: 50%;
                            width: 150%;
                        }
                        img {
                            padding: 30px;
                            max-width: 90%;
                            max-height: 90%;
                            transform: translate(-50% , -50%);
                            top: 50%;
                            position: absolute;
                        }
                    }
                }
                #gallery-link {
                    text-align: right;
                    padding: 30px 0;
                    position: absolute;
                    top: 50%;
                    left: 75%;
                    font-size: 30px;
                    transform: translateY(-50%);
                }
            }
            #home-gallery-outer {
                display: none;
                .gallery-post {
                    display: none;
                }
            }
        }

        /* About post */
        .team-post {
            position: absolute;
            width: 80%;
            margin-left: 10%;
            height: 100%;
            .profile-pic {
                width: 50%;
                height: 100%;
                position: relative;
                float: left;
                .profile-pic-outer {    
                    background: linear-gradient(135deg,rgba(255,255,255,.05) 0,rgba(255,255,255,.05) 9%,rgba(255,255,255,.15) 45%,rgba(255,255,255,.1) 52%,rgba(255,255,255,.05) 56%,rgba(255,255,255,.05) 100%);
                    border-radius: 30px;
                    border-right: 2px solid #333;
                    border-bottom: 2px solid #333;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    display: block;
                    transform: translate(-50%,-50%);
                    height: 80%;
                    max-width: 600px;
                    img {
                        max-width: 90%;
                        max-height: 90%;
                        padding: 30px;
                        transform: translate(-50%,-50%);
                        top: 50%;
                        position: absolute;
                        left: 50%;
                    }
                }
            }
            .info-outer {
                width: 50%;
                height: 100%;
                float:  left;
                .info {
                    max-width: 600px;
                    position: relative;
                    top: 50%;
                    left: 100%;
                    display: block;
                    transform: translateX(-100%);
                    text-align: right;
                    .about-text {
                        .read-more {
                            margin-top: 10px;
                        }
                    }
                }
                .name {
                    font-size: 30px;
                    margin-bottom: 10px
                }
            }
        }



        /* Contact post */
        #contact-home-outer {
            height: 100%;
            width: 100%;
            #contact-left {
                height: 100%;
                width: 40%;
                margin-left: 10%;
                float: left;
                position: relative;
                div {
                    top: 50%;
                    position: absolute;
                    left: 50%;
                    transform: translate(-50% , -50%);
                    font-size: 70px;
                    font-weight: 900;
                    a {
                        font-size: 20px;
                        display: block;
                    }
                }
            }
            #contact-right {
                height: 100%;
                width: 40%;
                float: left;
            }
        }
        #contact-form {
            width: 100%;
            height: 100%;
            float: left;
            form {
                max-width: 600px;
                position: relative;
                top: 50%;
                left: 50%;
                display: block;
                transform: translate(-50% , -50%);
                .cf-row {
                    margin-bottom: 20px;
                    input , textarea {
                        border: 1px solid white;
                        border-radius: 15px;
                        padding: 3px;
                        width: 100%;
                        margin-top: 5px
                    }
                }
            }
        }



        #controls {
            padding: 30px 0;
            position: absolute;
            bottom: 10%;
            left: 15%;
            text-align: center;
            div {
                display: inline-block;
                margin: 0 10px;
                i {
                    font-size: 40px;
                    margin: 0 20px;
                }
            }
        }
    }
}











#canvas {
    position: absolute;
    opacity: 0.04;
    left: 0;
    width: 75%;
    bottom: 0;
}
.post-outer {
    display: none;
    position: absolute;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50% , -50%);
    color: $secondary;
    text-align: left;
    .post-excerpt {
        .color-back {
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            position: absolute;
        }
        #ink-back-imgs {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            .back-prev , .back-next {
                height: 100%;
                width: 50%;
                float: left;
                filter: saturate(70%) blur(3px) opacity(15%);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
        h1 {
            font-size: 100px;
            font-weight: 600;
            line-height: 100px;
            margin-bottom: 20px;
        }
    }
}