/**
* 2. Home Page
*/
html {
    body.home {
        #wrapper {
            overflow: hidden;
            main {
                text-align: center;
                min-height: 100vh;
                .post-outer {
                    display: none;
                    position: absolute;
                    color: $secondary;
                    text-align: left;
                    width: 100%;
                    height: 100%;
                    .post-excerpt {
                        height: 100%;
                
                    }
                }
            }
        }
        .scroll {
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0;
            animation-name: scroll-outer;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            svg {
                width: 45px;
                position: relative;
                transform: translateX(-50%);
                #mouse {
                    opacity: 1;
                    animation-name: scroll-opac;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                }
                #wheel {
                    transform: translateY(0px);
                    animation-name: scroll-wheel;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in-out;
                }
            }
        }

        /* Home post */
        .post-outer.post189 {
            font-size: 18px;
            font-weight: 600;
            #home-post-outer {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                max-width: 700px;
                margin: 0 auto;
                h1 {
                    font-size: 100px;
                    font-weight: 600;
                    line-height: 100px;
                    margin-bottom: 20px;
                }
                div {
                    max-width: 700px;
                    margin: 0 auto;
                }
            }
            #home-back-imgs {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                overflow: hidden;
                .image-outer {
                    height: 100%;
                    width: 100%;
                    display: none;
                    img {
                        min-height: 100%;
                        min-width: 100%;
                        filter: saturate(10%) blur(0px) opacity(30%);
                        top: 50%;
                        position: relative;
                        transform: translate(-50%,-50%);
                        left: 50%;
                    }
                    }
                }
            }
        }




        /* Ink post */
        .post-outer.post212 {
            width: 100%;
            height: 100%;
            .post-excerpt {
                height: 100%;
                #ink-back-imgs {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    .back-prev , .back-next {
                        height: 100%;
                        width: 50%;
                        float: left;
                        filter: saturate(70%) blur(0px) opacity(15%);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                }
                .color-back {
                    background-position: center;
                    background-size: 60%;
                }
                #active-post {
                    display: block;
                    background: rgba(255,255,255,0.05);
                    height: 100%;
                    text-align: center;
                    #img-outer {
                        top: 50%;
                        position: relative;
                        transform: translate(-50% , -50%);
                        height: 80%;
                        max-width: 700px;
                        left: 50%;
                        background: rgba(255,255,255,0.1);
                        background: -moz-linear-gradient(-45deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 9%, rgba(255,255,255,0.15) 45%, rgba(255,255,255,0.1) 52%, rgba(255,255,255,0.05) 56%, rgba(255,255,255,0.05) 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.05) 9%,rgba(255,255,255,0.15) 45%,rgba(255,255,255,0.1) 52%,rgba(255,255,255,0.05) 56%,rgba(255,255,255,0.05) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(135deg, rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.05) 9%,rgba(255,255,255,0.15) 45%,rgba(255,255,255,0.1) 52%,rgba(255,255,255,0.05) 56%,rgba(255,255,255,0.05) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dffffff', endColorstr='#0dffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                        border-radius: 30px;
                        border-right: 2px solid #333;
                        border-bottom: 2px solid #333;
                        svg {
                            left: 50%;
                            position: relative;
                            transform: translate(-50% , -50%);
                            top: 50%;
                            width: 150%;
                        }
                        img {
                            padding: 30px;
                            max-width: 90%;
                            max-height: 90%;
                            transform: translate(-50% , -50%);
                            top: 50%;
                            position: absolute;
                        }
                    }
                }
                #gallery-link {
                    text-align: right;
                    padding: 30px 0;
                    position: absolute;
                    top: 50%;
                    left: 75%;
                    font-size: 30px;
                    transform: translateY(-50%);
                    a {
                        color: $secondary;
                    }
                }
            }
            #home-gallery-outer {
                display: none;
                .gallery-post {
                    display: none;
                }
            }
        }

        /* About post */
        .post-outer.post242 {
            .color-back {
                background-position: center;
            }
            .team-post {
                position: absolute;
                width: 80%;
                margin-left: 10%;
                height: 100%;
                .profile-pic {
                    width: 50%;
                    height: 100%;
                    position: relative;
                    float: left;
                    .profile-pic-outer {    
                        background: linear-gradient(135deg,rgba(255,255,255,.05) 0,rgba(255,255,255,.05) 9%,rgba(255,255,255,.15) 45%,rgba(255,255,255,.1) 52%,rgba(255,255,255,.05) 56%,rgba(255,255,255,.05) 100%);
                        border-radius: 30px;
                        border-right: 2px solid #333;
                        border-bottom: 2px solid #333;
                        position: relative;
                        top: 50%;
                        left: 50%;
                        display: block;
                        transform: translate(-50%,-50%);
                        height: 80%;
                        max-width: 600px;
                        img {
                            max-width: 90%;
                            max-height: 90%;
                            padding: 30px;
                            transform: translate(-50%,-50%);
                            filter: saturate(10%);
                            top: 50%;
                            position: absolute;
                            left: 50%;
                        }
                    }
                }
                .info-outer {
                    width: 50%;
                    height: 100%;
                    float:  left;
                    .info {
                        position: relative;
                        top: 50%;
                        display: block;
                        text-align: right;
                        padding: 0 15px;
                        img {
                            transform: translate(-50% , -150%);
                            left: 50%;
                            position: absolute;
                        }
                        .about-text {
                            .read-more {
                                margin-top: 10px;
                            }
                        }
                    }
                    .name {
                        font-size: 30px;
                        margin-bottom: 10px
                    }
                }
            }
        }



        /* Contact post */
        .post-outer.post260 {
            #contact-home-outer {
                height: 100%;
                width: 100%;
                #contact-left {
                    height: 100%;
                    width: 40%;
                    margin-left: 10%;
                    float: left;
                    position: relative;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    div {
                        top: 50%;
                        position: absolute;
                        left: 50%;
                        transform: translate(-50% , -50%);
                        font-size: 70px;
                        font-weight: 900;
                        a {
                            font-size: 20px;
                            display: block;
                        }
                    }
                }
                #contact-right {
                    height: 100%;
                    width: 40%;
                    float: left;
                    position: relative;
                    position: relative;
                    #home-contact-inner {
                        top: 50%;
                        position: relative;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        max-width: 500px;
                        #text {
                            font-size: 25px;
                            font-weight: 900;
                            margin-bottom: 30px;
                        }
                        form {
                            input {
                                background: rgba(255,255,255,0.1);
                                border-radius: 10px;
                                height: 30px;
                                color: $secondary;
                            }
                            textarea {
                                background: rgba(255,255,255,0.1);
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }




        #controls {
            position: absolute;
            bottom: 10%;
            left: 15%;
            text-align: center;
            border: 1px solid $secondary;
            border-radius: 30px;
            height: 80px;
            overflow: hidden;
            div {
                position: relative;
                display: inline-block;
                height: 100%;
                transition: all 0.2s;
                cursor: pointer;
                &:hover {
                    background: rgba(255,255,255,.2);
                }
                i {
                    font-size: 40px;
                    margin: 0 20px;
                    display: block;
                    top: 50%;
                    position: relative;
                    transform: translateY(-50%);
                }
            }
        }
    }