/**
* 2. Home Page
*/
html {
    min-height: 100%;
    body.home {
        height: 100%;
        #wrapper {
            height: 100%;
            overflow: hidden;
            main {
                text-align: center;
                min-height: 100%
            }
        }
        .scroll {
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0;
            animation-name: scroll-outer;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            svg {
                width: 45px;
                position: relative;
                transform: translateX(-50%);
                #mouse {
                    opacity: 1;
                    animation-name: scroll-opac;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                }
                #wheel {
                    transform: translateY(0px);
                    animation-name: scroll-wheel;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in-out;
                }
            }
        }
    }
}
#canvas {
    position: absolute;
    opacity: 0.04;
    left: 0;
    width: 75%;
    bottom: 0;
}
#top-image {
    position: absolute;
    width: 100%;
    height: 35%;
    top: 0;
    overflow: hidden;
    .image-outer {
        width: 100%;
        position: absolute;
        display: none;
        img {
            width: 100%;
            animation: headerImg 10s ease-in-out 2s infinite;
            animation-fill-mode: backwards;
            filter: saturate(40%) grayscale(30%) opacity(70%);
        }
    }
}
.image-overlay {
    width: 100%;
    height: 35%;
    position: absolute;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#222222+0,000000+100&0.15+1,1+95,1+100 */
background: -moz-linear-gradient(top, rgba(34,34,34,0.15) 0%, rgba(34,34,34,0.15) 1%, rgba(2,2,2,1) 95%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(34,34,34,0.15) 0%,rgba(34,34,34,0.15) 1%,rgba(2,2,2,1) 95%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(34,34,34,0.15) 0%,rgba(34,34,34,0.15) 1%,rgba(2,2,2,1) 95%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26222222', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.post-outer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: #fff;
    text-align: left;
    .post-excerpt {
        h1 {
            font-size: 100px;
            font-weight: 600;
            line-height: 100px;
            margin-bottom: 20px;
        }
    }
}