/**
* 1. Variables
* 2. Generic
* 3. Mixins
* 4. General
*/

/* 1. Variables */
// Colours
$grey: #333;
$primary: #E75A4A;
$secondary: #D9D6CC;

// Fonts 
@import url('https://fonts.googleapis.com/css?family=Text+Me+One');
@import url('https://fonts.googleapis.com/css?family=K2D:400,700');
$headingText: 'Text Me One', sans-serif;
$mainText: 'K2D', sans-serif;


/* 2. Generic */
.opacTrans-anim {
    opacity: 1 !important;
    transform: translate(0px, 0px) !important;
}
.opacTrans-anim2 {
    opacity: 1 !important;
    transform: translate(0px, -50%) !important;
}
.opac-anim {
    opacity: 1 !important;
}
.pageTitle-anim {
    opacity: 1 !important;
    transform: translate(50%, 50%) !important;
}



/* 3. Mixins */
@mixin no-outline {
    background: transparent;
    border: 0;
    outline: 0;
    box-shadow: none !important;
}
@mixin main-title {
    font-size: 60px;
    text-transform: uppercase;
    color: lighten($grey, 20%);
    background: lighten($grey, 75%);
    padding: 50px;
}
@mixin side-title {
    color: lighten($grey, 20%);
    font-size: 18px;
    padding: 30px 0 15px 15px;
    display: block;
}
@mixin item-title {
    text-transform: uppercase;
}
@mixin main-button {
    padding: 10px 20px;
    border-radius: 100px;
    color: $secondary;
    display: inline-block;
    background: $primary;
    text-transform: uppercase;
}


/* 4. General */
* {
    &::before , &::after {
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
}
html {
    min-height: 100%;
    body {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+35,222222+100 */
        background: rgb(0,0,0); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(34,34,34,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 35%,rgba(34,34,34,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 35%,rgba(34,34,34,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
                color: $grey;
                font-family: $mainText;
                font-size: 16px;
                min-height: 100vh;
    }
}
.page-title {
    position: absolute;
    transform: translateX(-100%);
    text-align: center;
    left: 10%;
    top: 110px;
    display: block;
    z-index: 99;
    padding-right: 5px;
    width: 10%;
    h1 {
        position: relative;
        font-size: 25px;
        color: $secondary;
        text-align: right;
    }
}
#wrapper {
    padding: 0;
    min-height: 100vh;
    position: relative;
    transition: opacity 1s;
    main{
        min-height: 100vh;
        position: relative;
        display: block;
        margin: 0 auto;
    }
}
.control-share {
    position: relative;
    width: 100%;
    height: 10%;
    text-align: center;
    top: 10%;
    .controls {
        text-align: center;
        border: 1px solid $secondary;
        border-radius: 30px;
        height: 50px;
        overflow: hidden;
        color: $secondary;
        float: left;
        left: 50%;
        top: 50%;
        position: relative;
        transform: translate(-50% , -50%);
        div {
            position: relative;
            display: inline-block;
            height: 100%;
            transition: all 0.2s;
            cursor: pointer;
            &:hover {
                background: rgba(255,255,255,.2);
            }
            i {
                font-size: 20px;
                margin: 0 15px;
                display: block;
                top: 50%;
                position: relative;
                transform: translateY(-50%);
            }
        }
    }
    #share {
        text-align: center;
        float: left;
        position: relative;
        left: 50%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translate(-50% , -50%);
        margin-left: 20px;
        padding-left: 20px;
        border-left: 1px solid  $secondary;
        a {
            color: $secondary;
            transition: all 0.2s;
            &:hover {
                color: $primary;
            }
        }
    }
}
.scroll {
    display: none;
}
p {
    font-family: $mainText;
    text-align: justify;
    margin: 0 0 20px 0;
}
h1,h2,h3,h4,h5,h6 {
    font-family: $headingText;
    font-weight: 400;
    margin: 0;
}
button {
    background: $primary;
    border: 0;
    font-family: $headingText;
    @include no-outline;
}
input , input:hover , input:active , input:focus , select , select:active , select:focus , textarea {
    @include no-outline;
}
a, a:active,a:focus,a:hover {
    text-decoration: none;
    text-transform: uppercase;
}
