header {
    width: 100%;
    z-index: 9;
    text-align: right;
    position: absolute;
    .logo {
        padding: 30px;
        a {
            img {
                width: 250px;
            }
        }
    }
}

body.home {
    header {
        width: 90%;
        .svg-outer {
            transform: translate(100% , 85%);
        }
    }
}
