@media screen and (max-width: 991px) {

    html {
        body.home {
            #wrapper {
                main {
                    .post-outer {
                        position: relative;
                        display: block;
                        .control-share {
                            padding: 30px 0;
                            width: 100%;
                            .controls {
                                top: 0;
                                left: 0;
                                transform: translate(0% , 0%);
                                margin: 0 auto;
                                float: unset;
                                width: 100px;
                            }
                            #share {
                                position: absolute;
                                transform: translate(100%,-50%);
                            }
                        }
                        .page-title {
                            display: none;
                        }
                        &.post189 {
                            .post-excerpt {
                                height: 100vh;
                                #home-post-outer {
                                    h1 {
                                        font-size: 50px;
                                        line-height: 50px;
                                    }
                                }
                            }
                        }
                        &.post242 {
                            padding-top: 30px;
                            .team-post-outer {
                                width: 100%;
                                margin-left: 0;
                                .team-post-wrap {
                                    height: auto;
                                    .team-post {
                                        position: relative;
                                        height: auto;
                                        .info-outer , .profile-pic {
                                            float: unset;
                                            width: 100%;
                                            height: auto;
                                        }
                                        .profile-pic-outer {
                                            width: 100%;
                                            top: 0;
                                            left: 0;
                                            transform: translate(0% , 0%);
                                            .pp-inner.pp-center {
                                                width: 100%;
                                                top: 0;
                                                .top-text , .bottom-text {
                                                    display: none;
                                                }
                                            }
                                            .pp-left , .pp-right {
                                                display: none;
                                            }
                                        }
                                        .info {
                                            img {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.post212 {
                            #active-post {
                                width: 100%;
                                margin-left: 0;
                                top: unset;
                                #img-outer {
                                    transform: translateX(0);
                                    max-width: 100%;
                                    left: 0;
                                    min-height: 500px;
                                    img {
                                        padding: 15px;
                                            max-width: 100%;
                                            max-height: 100%;
                                    }
                                }
                            }
                            #ink-back-imgs {
                                overflow: hidden;
                                border-radius: 30px;
                            }
                            #gallery-link {
                                display: none;
                            }
                        }
                        &.post260 {
                            #contact-home-outer {
                                margin: 0;
                                padding: 15px;
                                width: 100%;
                                form {
                                    input {
                                        max-width: 100%;
                                    }
                                }
                            }
                            #contact-left {
                                width: 100%;
                                float: unset;
                                padding-top: 30px;
                                #contact-left-wrap {
                                    position: relative;
                                    top: 0;
                                    left: 0;
                                    transform: translate(0%,0%);
                                    font-size: 25px;
                                }
                            }
                            #contact-right {
                                width: 100%;
                                float: unset;
                                padding-top: 30px;
                                #home-contact-inner {
                                    transform: translate(0%,0%);
                                    top: 0;
                                    left: 0;
                                }
                            }
                        }
                    }
                }
            }

        }
    }


    /* Pages */
    /* Ink page .postid-212 */
    body {
        &.postid-212 {
            #active-post {
                display: none;
                transition: opacity 1s;
            }
            #gallery-posts-outer {
                width: 100%!important;
                left: 0;
            }
        }
    }




    #left-sidebar-outer {
        width: 100%;
        #left-sidebar {
            height: 50px;
            background: #000;
            .logo {
                width: auto;
                svg {
                    max-width: 100px;
                }
            }
            #copyright {
                display: none;
            }
        }
    }

    #right-sidebar-outer {
        #right-sidebar {
            #sb-wrap {
                display: none;
            }
            .scroll {
                display: none;
            }
        }
    }  

}