/* Main navigation */
#main-nav-outer {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, 0.5);
    z-index: 9;
    display: none;
    overflow: hidden;
    min-height: 100%;
    color: $secondary;
    font-family: $headingText;
    transform: translateX(-100%);
    transition: all 1s;
    #menu-close {
        width: 10%;
        position: absolute;
        right: 70%;
        text-align: center;
        padding: 30px;
        top: 0;
        cursor: pointer;
        transition: color 0.2s;
        &:hover {
            color: $primary;
        }
    }
    nav {
        position: relative;
        width: 30%;
        background: #000000;
        height: 100%;
        div {
            height: 100%;
            div {
                height: 100%;
            }
        }
        ul {
            list-style-type: none;
            padding: 0;
            height: 100%;
            margin: 0;
            li {
                font-size: 30px;
                text-align: center;
                clear: left;
                position: relative;
                &:last-of-type::after {
                    display: none;
                }
                &:after {
                    content: '';
                    border-bottom: 2px solid $primary;
                    width: 30px;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                a,a:active {
                    color: $secondary;
                    padding: 2% 0;
                    margin: 5px 0;
                    transition: all .2s;
                    position: absolute;
                    display: inline-block;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    &:last-child a:after {
                        border: 0;
                    }
                    &:hover , &:focus , &:active {
                        color: $primary;
                    }
                }
            }
        }
    }
}
#main-nav-outer.nav-slide {
    margin-top: 0px;
}