/* Right sidebar */
#right-sidebar-outer {
    padding: 0;
    position: absolute;
    height: 100%;
    right: 0;
    z-index: 8;
    top: 0;
    width: 10%;
    text-align: center;
    font-family: $headingText;
    #right-sidebar {
        position: absolute;
        height: 100%;
        width: 100%;
        .primary-sidebar{
            height: auto;
            div {
                height: inherit;
                #menu-right-menu {
                    height: 100%;
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    li {
                        position: absolute;
                        transform: translate(-50%,-30px);
                        left: 50%;
                        border: 0;
                        font-family: $headingText;
                        font-size: 20px;
                        &:nth-of-type(1) {
                            transform: translate(0%,0px)  rotate(90deg) ;
                            transform-origin: 0%;
                            &:before {
                                content: '';
                                width: 100%;
                                border-bottom: 3px solid $secondary;
                                display: inline-block;
                                transform: translate(0,-150%);
                                position: relative;
                            }
                        }
                        &:nth-of-type(2) {
                            bottom: 0;
                            width: 100%;
                            &:before {
                                content: '';
                                width: 50px;
                                border-bottom: 3px solid $secondary;
                                display: inline-block;
                                transform: translate(0,-150%);
                                position: relative;
                            }
                        }
                    }
                    a,a:active,a:hover {
                        color: $secondary;
                    }
                }
            }
        }
    }
    #sidebar-social-icons {
        position: relative;
        top: 10%;
        .svg-outer {
            display: block;
            padding: 10px;
            a {
                svg {
                    width: 20px;
                    height: auto;
                }
            }
        }
    }
    #sb-pag-outer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .drop {
            .drop-outline {
                fill: none;
                stroke: $secondary;
                stroke-width: 2;
                stroke-miterlimit: 5;
              }
            .drop-outer {
                width: 60px;
                height: 130px;
                overflow: hidden;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                z-index: -1;
                position: relative;
                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50% , -50%);
                    font-size: 11px;
                    font-weight: bold;
                    color: $secondary;
                }
              }
              .waveShape {
                fill: rgba(255,255,255,0.01);
                transition: all 2s;
              }
              &.active {
                .fill {
                    animation-name: fillAction;
                    animation-iteration-count: 1;
                    animation-timing-function: cubic-bezier(.2, .6, .8, .4);
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                  }
                  .waveShape {
                    animation-name: waveAction;
                    animation-iteration-count: 10;
                    animation-timing-function: linear;
                    animation-duration: 0.5s;
                    width: 300px;
                    height: 150px;
                    fill: $secondary;
                  }
                  span {
                      color: black;
                  }
              }
        }
}
.buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    button {
        display: block;
        color: $secondary;
        margin: 40px 0;
        font-size: 40px;
    }
}
}









