/* 0. General */

.shop-pages {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    #shop-page-outer {
        height: 100vh;
        width: 100%;
        top: 0;
        padding-left: 10%;
        overflow: hidden;
        background: linear-gradient(to bottom,rgba(0,0,0,0.95) 0,rgba(0,0,0,0.95) 35%,rgba(34,34,34,0.95) 100%);

    }
    #shop-booking-wrap {
        padding: 100px 100px 30px 100px;
        position: relative;
        min-height: 100vh;
        * {
            color: $secondary;
        }

        
            /* Bookings */
    .appointments-wrapper , .appointments-legend {
        border-radius: 30px;
        padding: 30px;
        background: rgba(255,255,255,0.05);
        td.free, div.free {
            background: $secondary !important;
            color: $grey;
            p {
                color: $grey;
            }
        }
        td.notpossible, div.notpossible ,td.busy, div.busy {
            background: $primary !important;
            p {
                color: #fff;
            }
        }
    }
    .appointments-pagination {
        a {
            background: unset;
            color: $secondary;
            box-shadow: unset;
            text-shadow: unset;
            text-decoration: none;
            &:hover {
                color: $primary;
            }
        }
    }
    .appointments-confirmation-wrapper {
        input {
            background: rgba(255,255,255,.05);
            padding: 5px;
        }
        .appointments-confirmation-buttons {
            input {
                background: unset;
                &.appointments-confirmation-button {
                    background: $secondary;
                    color: $grey;
                }
                &.appointments-confirmation-cancel-button {
                    background: $primary;
                    color: $secondary;
                }

        }
    }
}

     
    
    /* woocommerce */
        .woocommerce-cart-form__cart-item {
            .product-remove {
                a {
                    color: $primary !important;
                    &:hover {
                        color: $secondary !important;
                        background: $primary;
                    }
                }
            }
            button.button {
                background: $secondary;
                color: $grey;
            }
        }
        a.button.alt {
            background: $primary;
        }
        .woocommerce-error, .woocommerce-info, .woocommerce-message {
            border-radius: 30px;
            border: 0;
        }
        .woocommerce-error {
            background: $primary;
            &:before {
                color: $secondary;
            }
        }
        form {
            .woocommerce-billing-fields {
                border-radius: 30px;
                padding: 30px;
                background: rgba(255,255,255,0.05);
            }
            .form-row  {
                padding: 10px 0;
                .input-text , textarea {
                    border-bottom: 1px solid rgba(255,255,255,0.2);
                    padding: 10px;
                    color: lighten($grey, 25%);
                    font-size: 15px;
                }
                .required {
                    color: $primary;
                }
            }
            .woocommerce-invalid * {
                border-color: $primary !important;
                color: $primary !important;
            }
        }
        #order_review_heading {
            padding: 15px;
            margin-top: 50px;
            font-size: 24px;
        }
        #order_review {
            border-radius: 30px;
            padding: 0 15px;
            #payment {
                background: unset;
                .payment_methods {
                    padding: 0;
                    .payment_box {
                        background: unset;
                        padding: 0 0 0 15px;
                        margin: 0px 0 15px 0;
                        &:before {
                            display: none;
                        }
                    }
                }
                button {
                    margin-top: 30px;
                    background: $primary;
                }
                .form-row {
                    padding: 0;
                }
            }
            .woocommerce-checkout-review-order-table {
                thead {
                    th {
                        text-decoration: underline;
                        color: $primary;
                    }
                }
                tbody {
                    line-height: 80px;
                }
            }
        }
    }
}


/* 1. Checkout page */
